.game-collection-list {
    margin: 0 auto;
    width: 90%;
}

.jacobs-games {
    display: flex;
    justify-content: center;
}

.jacobs-games-image {
    width: 100%;
    max-width: 55rem;
    height: auto;
}

.jacobs-games-image:hover {
    animation: wiggle 3s;
    animation-iteration-count: infinite;
}

.background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    padding-bottom: 4rem;
    background-color: grey;
    background-image: url("/images/background-image.png");
    background-image: url("/images/background-image.png"), linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(206,147,226,1) 100%);
    animation: background-slide 80s linear infinite;
}

.filters-container {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 600px) {
    .game-collection-list {
        max-width: 75%;
    }

    .background {
        animation: background-slide 200s linear infinite;
    }
}

@media screen and (min-width: 900px) {
    .game-collection-list {
        width: 70%
    }
}

@media screen and (min-width: 1200px) {
    .game-collection-list {
        width: 60%;
    }
}

@media screen and (min-width: 1536px) {
    
}

@keyframes background-slide {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}

@keyframes wiggle {
    0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}