.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80vw;
    margin-block-start: 5%;
}

.logo {
    width: 80vw;
}

h1 {
    color: var(--color-tertiary);
    font-family: var(--test);
    font-size: 40px;
    text-align: center;
    line-height: 1.2;
    margin-block-end: 8px;
}

.options {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.link {
    -webkit-appearance: none;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: var(--color-tertiary);
    color: hsl(198, 50%, 10%);
    border-radius: 8px;
    padding: 14px 24px 16px;
    font-weight: 700;
    line-height: 1;
    transition: all .1s ease-in-out;
    width: 160px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
}

.link:hover {
    /* transform: translateY(-2px); */
    filter: brightness(80%);
}

.disclaimer {
    font-size: 10px;
    filter: brightness(50%);
    max-width: 70vw;
    text-align: center;
}

footer {
    color: var(--color-accent);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block-start: 16px;
    margin-block-end: 16px;
}

.created-by {
    color: var(--color-accent);
}

@media screen and (min-width: 600px) {
    .logo {
        width: 400px;
    }

    .disclaimer {
        max-width: 60vw;
    }
}

@media screen and (min-width: 900px) {
    .disclaimer {
        max-width: 400px;
    }
}

@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 1536px) {
    
}