.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(2, 6, 23); */
    background-color: rgb(40,42,41);
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
}

.navbar-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 4rem;
}

a {
    color: white;
    cursor: pointer;
}

.navbar-list-item {
    transition: all ease-in-out 0.2s;
}

.navbar-list-item:hover {
    scale: 1.1;
}

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.me-pic {
    width: 50px;
    margin-block: 0.25rem;
}

.jacob-mauro {
    transition: all ease-in-out 0.2s;
}

.jacob-mauro:hover {
    scale: 1.1;
}

.menu-icon {
    color: white;
    height: 24px;
    width: 24px;
    transform: scale(1.5);
    cursor: pointer;
}

@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 768px) {}